doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Ultimate Front-End Starter Kit
    // Place favicon.ico in the root directory
    link(rel='icon', type='image/png', href='favicon.ico')
    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/main.css
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // endbuild
    // build:js js/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    include _includes/home-page.jade
    //if lt IE 10
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js js/vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js js/main.js
    script(src='js/main.js')
    // endbuild
